Source: registrator
Section: utils
Priority: optional
Maintainer: Lance Linder <llinder@gmail.com>
Homepage: https://github.com/progrium/registrator
Vcs-Git: https://github.com/progrium/registrator.git
Vcs-Browser: https://github.com/progrium/registrator
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), golang-go (>= 2:1.2), git

Package: registrator
Architecture: any
Recommends: lxc-docker (>=1.3)
Depends: ${misc:Depends}
Description: Service registry bridge for Docker
 Registrator automatically register/deregisters services for 
 Docker containers based on published ports and metadata from 
 the container environment. Registrator supports pluggable 
 service registries, which currently includes Consul, etcd 
 and SkyDNS 2.
 .
 By default, it can register services without any user-defined 
 metadata. This means it works with any container, but allows 
 the container author or Docker operator to override/customize 
 the service definitions.